body {
  background: #000000;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
}

.block {
  height: 100%;
}

.landing {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.img {
  height: 100%;
}

.scroll {
  height: 80vh;
  margin-top: 10vh;
  margin-left: 5vw;
}

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  opacity: 0.5;
}

.landing-text {
  padding-top: 10vh;
  padding-right: 9vw;
  padding-left: 3vw;
}

* {
  font-family: "Courier";
  color: white;
}
.title {
  font-size: 30px;
}

.body-text {
  margin-top: 30px;
  font-size: 20px;
}
.authors {
  margin-top: 50px;
  font-size: 16px;
}

.end-text {
  margin-top: 50px;
  font-size: 30px;
}
