/* * {
  box-sizing: border-box;
} */

body,
.container {
  display: flex;
  background: #000000;
  height: 100vh;
}
/* 
body.with-container {
  display: unset;
  overflow: unset;
}

body.with-container > * {
  margin: 1em;
}

.container {
  display: flex;
  flex: 1;
  min-height: 400px;
  height: 60vh;
} */

.block {
  height: 100%;
  display: flex;
}

.img {
  height: 100%;
}

/* .block a {
  color: inherit;
} */
